{% extends 'layout.html' %}

{% block titulo %}Profesores{% endblock titulo %}

{% block pagina %}Listar Profesores{% endblock pagina %}

{% block contenido %}
    <a class="btn btn-success mb-3" href="{% url 'crear-programa' %}">Crear profesor</a>
    {% if messages %}
        {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    <table class="table table-striped">
        <tr class="table-success">
            <th>cod. Profesor</th>
            <th>Nombres</th>
            <th>programa</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Acción</th>
        </tr>
        {% for profesor in profesores %}
            <tr>
                <td>{{ profesor.cod_profesor }}</td>
                <td>{{ profesor.user.first_name }} {{ profesor.user.last_name }}</td>
                <td>{{ profesor.programa.nombre }}</td>
                <td>{{  profesor.telefono   }}</td>
                <td>{{ profesor.direccion }}</td>
                <td>
                  <a href="" class="btn btn-warning">Actualizar</a>
                  <a href="" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        {% endfor%}
    </table>    
{% endblock contenido %}