{% extends 'layout.html' %}

{% block titulo %}Estudiante{% endblock titulo %}

{% block pagina %}Listar Estudiantes{% endblock pagina %}

{% block contenido %}
    <a class="btn btn-success mb-3" href="{% url 'crear-estudiantes' %}">Crear estudiante</a>
    {% if messages %}
        {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    <table class="table table-striped">
        <tr class="table-success">
            <th>cod. Estudiante</th>
            <th>Estudiante</th>
            <th>Acudiente</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Acción</th>
        </tr>
        {% for estudiante in estudiantes %}
            <tr>
                <td>{{ estudiante.cod_estudiante }}</td>
                <td>{{ estudiante.user.first_name }} {{ estudiante.user.last_name }}</td>
                <td>{{ estudiante.acudiente }}</td>
                <td>{{estudiante.telefono}}</td>
                <td>{{ estudiante.direccion }}</td>
                <td>
                  <a href="{% url 'actualizar-estudiante' estudiante.id %}" class="btn btn-warning">Actualizar</a>
                  <a href="{% url 'eliminar-estudiante' estudiante.id %}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        {% endfor%}
    </table>    
{% endblock contenido %}